/* Univerzální styl*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Baloo Da 2", cursive;
}
html{
  font-size: 62.5%;
}
.wrapper {
width: 65%;
overflow: hidden;
border: .2rem solid #036bb1;
border-radius: 3rem;
}
.photobanner {
position: relative;
height: 15rem;
margin-top: 3rem;
display: flex;
width: 100%;
}

.photobanner div {
margin: 0px 25px;
background-color: #fff;
}

.photobanner {
animation: bannermove 50s linear infinite alternate;
}
.direct{
  padding-bottom: 8rem;
}
@keyframes bannermove {
from {
  left: 0px;
}
to {
  left: -168.75rem;
}
}

/* unvisited link */

.section-4 a:link {
  color: #2f8fdf;
}

/* visited link */
.section-4 a:visited {
  color: #2f8fdf;
}

/* mouse over link */
.section-4 a:hover {
  color: #064699;
}

/* selected link */
.section-4 a:active {
  color: #064699;
}
/* Konec univerzálního stylu*/
/* Sekce 1*/
.section-1{
  width: 100%;
  height: 65vh;
  background: linear-gradient(to top, rgba(38, 38, 38, .7), rgba(38, 38, 38, .6)), url(/images/bga2.jpg);
  background-size: cover;
  position:relative;
}
.navbar-wrapper{
  width: 100%;
  height: 8rem;
  border-bottom: .1rem solid #aaa;
  display: flex;
  justify-content: center;
}
.navbar{
  width: 120rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo{
  font-size: 3.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #fff;
  position: relative;
}
.nav-logo-image{
  width: 25%;
  height: 25%;
  position: relative;
  top: 1.25rem;
}
.nav-dropdown{
  width: 100%;
  height: 20rem;
  background: linear-gradient(to right, #066399, #2f8fdf,#066399);
  position:absolute;
  top: 8rem;
  left: 0;
  z-index: 100;
  padding: 0 30rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0;
}
.nav-dropdown-item{
  width: 25rem;
  margin: 2rem 10rem;
  display: flex;
  flex-direction: column;
}
.nav-dropdown-link-1{
  font-size: 1.6rem;
  color: #fff;
}
.nav-dropdown-link-2{
  font-size: 1.3rem;
  color: #fff;
}
.p-1{
  font-size: 4.5rem;
  margin-right: 1rem;
}
.p-2{
  font-size: 4.5rem;
  color: #bbb;
  position: absolute;
  top: 0.4rem;
  left: 0.5rem;
}
.nav-list{
  display: flex;
}
.nav-list-item{
  height: 8rem;
  padding: 2rem;
  display: flex;
  transition: border-bottom .1s;
}
.nav-list-item:hover{
  border-bottom: 0.2rem solid #fff;
}
.nav-list-item:hover .nav-list-link i {
  transform: rotateZ(180deg);
}
.nav-list-link{
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  color: white;

}
.nav-list-link i{
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
.nav-list-item:hover .nav-list-link i{
  transform: rotateZ(180deg);
  transition: transform .3s;
}
.navbar-btn{
  width: 16rem;
  padding:  .7rem;
  margin:  .3rem;
  border-radius: 3rem;
  border: none;
}
.navbar-btn:nth-child(1){
  background-color: #2978b5;
  color: white;
  border: .1rem solid #0061a8;
  margin-left: 5rem;
}
.navbar-btn:nth-child(1):hover{
  background-color: #0061a8;
  color: white;
  border: .1rem solid #0061a8;
}
.banner{
  width: 100%;
  position: absolute;
  top: 25%;
  text-align: center;
}
.banner-heading{
  font-size: 6rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 3rem;
}
.banner-paragraph{
  font-size: 1.8rem;
  color: #fff;
  width: 50%;
  margin: 0 auto 4rem auto;
}
.blue-btn{
  width: 35rem;
  height: 5rem;
  background-color: #2978b5;
  color: #fff;
  border-radius: 3rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
}
.blue-btn:hover{
  background-color: #0061a8;
}
.transparent-btn{
  width: 17.5rem;
  height: 5rem;
  background-color: transparent;
  color: #fff;
  border-radius: 3rem;
  border: 0.1rem solid;
  font-size: 1.6rem;
  font-weight: 600;
  border-color: #fff;
  margin-left: 1rem;
}
.transparent-btn:hover{
  background-color: #fff;
  color: black;
}
/* Konec sekce 1*/
/* Sekce 2*/
.section-2{
  width: 100%;
  padding: 10rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-3{
  width: 100%;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-2-heading{
font-size: 5rem;
font-weight: 300;
color #333;
margin-bottom: 3rem;
}
.section-3-heading{
font-size: 5rem;
font-weight: 300;
color #333;
margin-bottom: 3rem;
}
.services{
  display: flex;
}
.service{
  width: 35rem;
  text-align: center;
  margin: 0 5rem;
  border-radius: 3rem;
  border: .2rem solid #036bb1;
}

.service i{
  font-size: 6rem;
  color: #229fe7;
  margin: 2rem 0;
}
.service-heading{
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.service-paragraph{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.service-btn{
  width: 20rem;
  padding: 1.5rem;
  background-color: transparent;
  border-radius: 3rem;
  border: .1rem solid #036bb1;
  color: #036bb1;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 2rem;
}
.service-btn:hover{
  background: #036bb1;
  color: #fff;
}
/* Konec sekce 2*/
/* Sekce 3*/
.pojistovny{
  display:inline-flex;
  flex-wrap: wrap;
  width: 100%;
  align-self: center;
  padding-left: 7rem;
}
.pojistovna{
  width: 20rem;
  text-align: center;
}
.pojistovna:hover{

}
.pojistovna-heading{
  font-size: 1.5rem;
  margin-top: 1rem;
}
.photobanner img{
max-width: 18rem;
max-height: 18rem;
margin-top: 1rem;
}

/* Konec sekce 3*/
/* Sekce 4*/
.section-4{
  width: 100%;
  padding-bottom: 5rem;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
}
.section-4-heading{
font-size: 5rem;
font-weight: 300;
color #333;
margin-bottom: 3rem;
}
.sidla{
  display:inline-flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 50rem;
  align-self: center;
  padding-left: 7rem;
}
.sidlo{
  width: 40rem;
  text-align: center;
  margin: 1rem;
  border-radius: 3rem;
  border: .2rem solid #036bb1;
}
.sidlo-heading{
  font-size: 4rem;
  margin: 1rem;
  border: .4rem solid #036bb1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.sidlo-reditelka{
  font-size: 2rem;
  margin: 1rem;
  border: .1rem solid #036bb1;
  border-left: 0;
  border-right: 0;
}
.sidlo-adresa{
  font-size: 2rem;
  margin: 1rem;
  border: .1rem solid #036bb1;
  border-left: 0;
  border-right: 0;
}
.sidlo-telefon{
  font-size: 2rem;
  margin: 1rem;
  border: .1rem solid #036bb1;
  border-left: 0;
  border-right: 0;
}
.sidlo-email{
  font-size: 2rem;
  margin: 1rem;
  border: .1rem solid #036bb1;
  border-left: 0;
  border-right: 0;
}
.sidlo-menu{
  font-size: 2rem;
  color: #036bb1;
}
iframe{
  border: .2rem solid #036bb1;
  border-radius: 3rem;
}
.pobocka{
  width: 20rem;
  text-align: center;
  margin: 1rem;
  border-radius: 3rem;
  border: .2rem solid #036bb1;
}
.pobocka-heading{
  font-size: 4rem;
  margin: 1rem;
  border: .4rem solid #036bb1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.pobocka-reditelka{
  font-size: 2rem;
  margin: 1rem;
  border: .1rem solid #036bb1;
  border-left: 0;
  border-right: 0;
}
.pobocka-adresa{
  font-size: 2rem;
  margin: 1rem;
  border: .1rem solid #036bb1;
  border-left: 0;
  border-right: 0;
}
.pobocka-telefon{
  font-size: 2rem;
  margin: 1rem;
  border: .1rem solid #036bb1;
  border-left: 0;
  border-right: 0;
}
.pobocka-email{
  font-size: 2rem;
  margin: 1rem;
  border: .1rem solid #036bb1;
  border-left: 0;
  border-right: 0;
}
.pobocka-menu{
  font-size: 2rem;
  color: #036bb1;
}
.pobocka-large{
  width: 35rem;
}
/* Konec sekce 4*/
/* Sekce 5*/
.section-5{
  width: 100%;
}
.footer {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0 3rem 0;
}

.footer-top {
  width: 70%;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid #262626;
  padding-bottom: 1rem;
}

.footer-list {
  display: flex;
  align-items: center;
}

.footer-list li {
  margin-right: 2.5rem;
}

.footer-list a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #262626;
}

.footer-list img {
  width: 3.8rem;
  opacity: 0.6;
}

.copyright {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
/* Konec sekce 5*/
* Login Page */
.login-page {
  width: 100%;
  height: 100vh;
  position: relative;
  display: none;
}

.login-page-content {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid #cfcfcf;
  padding: 3rem;
}

.login-page-logo {
  margin-bottom: 1.2rem;
}

.login-page-logo .p-1 {
  color: #064699;
}

.login-page-logo .p-2 {
  color: #32a4f0;
}

.login-page-logo span:nth-child(3) {
  color: #064699;
}

.login-page-logo span:nth-child(4) {
  color: #32a4f0;
}

.login-page-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page-form input {
  width: 37rem;
  height: 4.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.form-login-input {
  padding: 0 1.5rem;
  border: 0.1rem solid #777;
  font-size: 1.6rem;
}

.form-login-btn {
  background-color: #036bb1;
  color: #fff;
  border: 0.1rem solid #036bb1;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}

.form-login-link {
  font-size: 1.6rem;
  color: #229fe7;
  margin: 1.2rem 0 1rem 0;
}

.login-page-form span {
  width: 2rem;
  font-size: 1.8rem;
  color: #888;
  margin: 1rem 0;
  position: relative;
}

.login-page-form span::before {
  content: "";
  width: 16rem;
  height: 0.1rem;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  right: 3.5rem;
  transform: translateY(-50%);
}

.login-page-form span::after {
  content: "";
  width: 16rem;
  height: 0.1rem;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 3.5rem;
  transform: translateY(-50%);
}

.form-signup-btn {
  background-color: #dbe8ec;
  border: 0.1rem solid #dbe8ec;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}
/* End of Login Page */
