/* UniverzÃ¡lnÃ­ styl*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Baloo Da 2", cursive;
}
html{
  font-size: 62.5%;
}
body{
  width: 100%;
}
.redict-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-margin{
  margin-bottom: 3rem;
}
/* Button style */
.btn{
  border:none;
  border-bottom: .1rem solid #036bb1;
  border-radius: 0;
  background: none;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  width: 8rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 600;
  object-position: bottom;
}
.btn1,.btn2{
  color: #036bb1;
  width: 16rem;
  height: 5rem;
}
.btn5{
  color: #036bb1;
  width: 100%;
  height: 5rem;
  border-bottom: none;
  border-left: 0.4rem;
  border-right: 0.4rem;
}
.btn5:hover{
  color: #fff;
}
.btn5::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn5::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn5:hover::before{
  height: 200%;
}
.section-btn{
  width: 35rem;
}
.login-btn{
  width: 15rem;
  color: #fff;
  border-bottom: 0.1rem solid #fff;
}
.btn3,.btn4{
  color: #fff;
  height: 5rem;
}
.btn1:hover,.btn2:hover{
  color: #fff;
}
.btn3:hover,.btn4:hover{
  color: #036bb1;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #036bb1;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before,.btn3::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before,.btn4::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn3::before,.btn4::before{
  height: 180%;
}
.btn1:hover::before,.btn2:hover::before{
  height: 180%;
}
.btn3:hover::before,.btn4:hover::before{
  height: 0%;
}
.wrapper {
width: 100%;
overflow: hidden;
border: none
}
.photobanner {
position: relative;
height: 15rem;
margin-top: 3rem;
display: flex;
width: 100%;
}

.photobanner div {
margin: 0px 25px;
background-color: #fff;
}

.photobanner {
animation: bannermove 30s linear infinite alternate;
}
.direct{
  padding-bottom: 8rem;
}
@keyframes bannermove {
from {
  left: 0px;
}
to {
  left: -168.75rem;
}
}
.fa-arrow-right{
margin-top: 3rem;

}


/* unvisited link */

.section-4 a:link{
  color: #2f8fdf;
}

/* visited link */
.section-4 a:visited{
  color: #2f8fdf;
}

/* mouse over link */
.section-4 a:hover{
  color: #064699;
}

/* selected link */
.redict-button{
  margin-top: 3rem;
}
.section-4 a:active{
  color: #064699;
}
.redict-button a:link {
  color: #2f8fdf;
 }
.redict-button a:visited {
  color: #2f8fdf;
}
.redict-button a:hover{
  color: #064699;
}
.redict-button a:active{
  color: #064699;
}
/* Konec univerzÃ¡lnÃ­ho stylu*/
/* Sekce 1*/
.section-1{
  width: 100%;
  height: 65vh;
  background: url(/images/o_nas_background.jpg);
  background-size: cover;
  position:relative;
  align-items: center;
  text-align: left;
}

.section-heading {
    font-size: 5rem;
    font-weight: 300;
    color: #333 ;
}
.section-paragraph-heading{
  font-size: 5rem;
  font-weight: 200;
  color: #333;
}
.section-paragraph{
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.section-sub-heading{
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.section-text{
  text-align: left;
}
.kontakt-logo{
  width: 15%;
  height: 15%;
  position: relative;
  top: 1.25rem;
}
.kontakt-paragraph{
  font-size: 5rem;
  font-weight: bold;
  color: #036bb1;

}
.navbar-wrapper{
  width: 100%;
  height: 8rem;
  border-bottom: .1rem solid #aaa;
  display: flex;
  justify-content: center;
}
.navbar{
  width: 120rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo{
  font-size: 3.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #fff;
  position: relative;
}
.nav-logo-image{
  width: 25%;
  height: 25%;
  position: relative;
  top: 1.25rem;
}
.nav-dropdown{
  width: 100%;
  height: 20rem;
  background: linear-gradient(to right, #066399, #2f8fdf,#066399);
  position:absolute;
  top: 8rem;
  left: 0;
  z-index: 100;
  padding: 0 30rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0;
}
.nav-dropdown-item{
  width: 25rem;
  margin: 2rem 10rem;
  display: flex;
  flex-direction: column;
}
.nav-dropdown-link-1{
  font-size: 1.6rem;
  color: #fff;
}
.nav-dropdown-link-2{
  font-size: 1.3rem;
  color: #fff;
}
.p-1{
  font-size: 4.5rem;
  margin-right: 1rem;
}
.p-2{
  font-size: 4.5rem;
  color: #bbb;
  position: absolute;
  top: 0.4rem;
  left: 0.5rem;
}
.nav-list{
  display: flex;
}
.nav-list-item{
  height: 8rem;
  padding: 2rem;
  display: flex;
  transition: border-bottom .1s;
}
.nav-list-item:hover{
  border-bottom: 0.2rem solid #fff;
}
.nav-list-item:hover .nav-list-link i {
  transform: rotateZ(180deg);
}
.nav-list-link{
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  color: white;

}
.nav-list-link i{
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
.nav-list-item:hover .nav-list-link i{
  transform: rotateZ(180deg);
  transition: transform .3s;
}

.banner{
  width: 100%;
  position: relative;
  top:15vh;
  text-align: center;
}

.banner-heading{
  font-size: 6rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 3rem;
  margin-top: 5rem;
}

.banner-paragraph{
  font-size: 1.8rem;
  color: #fff;
  width: 50%;
  margin: 0 auto 4rem auto;
}
.blue-btn{
  width: 35rem;
  height: 5rem;
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 1.6rem;
  font-weight: 600;
  border-bottom: 0.2rem solid #fff;
  transition: 0.8s;

}
.blue-btn:hover{
  border-bottom: 0.1rem solid #2978b5;
  background-color: #2978b5;
}
/*   backdrop-filter: blur(0.5rem); */
.transparent-btn{
  width: 17.5rem;
  height: 5rem;
  background-color: transparent;
  color: #fff;
  border-radius: 0;
  border: none;
  border-bottom: 0.1rem solid #fff;
  font-size: 1.6rem;
  font-weight: 600;
  border-color: #fff;
  margin-left: 1rem;
  transition: 0.8s;
}
.transparent-btn:hover{
  background-color: #fff;
  color: black;
}
/* Konec sekce 1*/
/* Sekce 2*/
.section-2{
  width: 100%;
  padding: 5% 20%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
@keyframes backgrounds {
 from{background-image: url(/images/bga.jpg);}
 to{background-image: url(/images/bga2.jpg);}
}

.section-3{
  width: 100%;
  max-width: 100%
  padding-bottom: 5rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.section-2-heading{
font-size: 5rem;
font-weight: 300;
color #333;
margin-bottom: 3rem;
}
.section-3-heading{
font-size: 5rem;
font-weight: 300;
color #333;
margin-bottom: 3rem;
}
.services{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.typy-pojisteni{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  box-sizing:border-box;
  padding: 0 10%;
  align-content: flex-end;
  justify-content: space-between;
  align-items: flex-end;
}


.service{
  width: 35rem;
  text-align: center;
  margin: 2rem 5rem;
  border: .1rem solid #036bb1;
  transition: 0.8s;
  box-sizing: border-box;
  flex-grow: 1;

}

.service-pojisteni{
  width: 35rem;
  text-align: center;
  margin: 0 5rem;
  border: .1rem solid #036bb1;
  transition: 0.8s;
  box-sizing: border-box;
  flex-grow: 1;
}

.typ-pojisteni{
  width: 35rem;
  text-align: center;
  margin: 3rem 5rem;
  border: .1rem solid #036bb1;
  transition: 0.8s;
  box-sizing: content-box;
  flex-grow: 1;
  max-height: 100%;
  object-fit: cover;
}
.service:hover{
}

.service i{
  font-size: 6rem;
  color: #fff;
  margin: 2rem 0;
  position: relative;
  bottom: 12rem;
}

.service-pojisteni i{
  font-size: 6rem;
  color: #fff;
  margin: 2rem 0;
  position: relative;
  bottom: 12rem;
}

.service-heading{
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: #064699;
}
.service-img{
  width: auto !important; /*override the width below*/
  width: 100%;
  max-width: 100%;
  height: auto !important; /*override the width below*/
  height: 100%;
  max-height: 10%;
  float: left;
  clear: both;
  filter:opacity(1) brightness(0.4);
}
.service:hover .service-img {
   filter: brightness(0.8) ;
}
.service-img-div{
  width: auto !important; /*override the width below*/
  width: 5%;
  max-width: 100%;
  height: auto !important; /*override the width below*/
  height: 5%;
  max-height: 10%;
}
.service:hover i {
   color: #036bb1;
}
.service-paragraph{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
  bottom: 10rem;
}
.service-btn{
  width: 20rem;
  padding: 1.5rem;
  background-color: transparent;
  border-radius: 3rem;
  border: .1rem solid #036bb1;
  color: #036bb1;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
  bottom: 10rem;
}
.service-btn:hover{
  background: #036bb1;
  color: #fff;
}
.service1{

}
.service2{

}
.service3{

}
.service4{

}
/* Konec sekce 2*/
/* Sekce 3*/
.pojistovny{
  display:inline-flex;
  flex-wrap: wrap;
  width: 100%;
  align-self: center;
  padding-left: 7rem;
}
.pojistovna{
  width: 20rem;
  text-align: center;
}
.pojistovna:hover{

}
.pojistovna-heading{
  font-size: 1.5rem;
  margin-top: 1rem;
}
.photobanner img{
max-width: 18rem;
max-height: 18rem;
margin-top: 1rem;
}

/* Konec sekce 3*/
/* Sekce 4*/
.section-4{
  width: 100%;
  padding-bottom: 5rem;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
}
.section-4-heading{
font-size: 5rem;
font-weight: 300;
color #333;
margin-bottom: 3rem;
}
.sidla{
  display:inline-flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 38rem;
  align-self: center;
}
.sidlo{
  width: 40rem;
  text-align: center;
  margin: 0 1rem;
  border-radius: 3rem;
  border: .2rem solid #036bb1;
}
.sidlo-heading{
  font-size: 4rem;
  margin: 1rem;
  border: .4rem solid #036bb1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.sidlo-reditelka{
  font-size: 2rem;
  margin: 1rem;
  border: .1rem solid #036bb1;
  border-left: 0;
  border-right: 0;
}
.sidlo-adresa{
  font-size: 2rem;
  margin: 1rem;
  border: .1rem solid #036bb1;
  border-left: 0;
  border-right: 0;
}
.sidlo-telefon{
  font-size: 2rem;
  margin: 1rem;
  border: .1rem solid #036bb1;
  border-left: 0;
  border-right: 0;
}
.sidlo-email{
  font-size: 2rem;
  margin: 1rem;
  border: .1rem solid #036bb1;
  border-left: 0;
  border-right: 0;
}
.sidlo-menu{
  font-size: 2rem;
  color: #036bb1;
}
iframe{
  border: .2rem solid #036bb1;
  border-radius: 3rem;
}
.pobocka{
  width: 20rem;
  text-align: center;
  margin: 1rem;
  border-radius: 3rem;
  border: .2rem solid #036bb1;
}
.pobocka-heading{
  font-size: 4rem;
  margin: 1rem;
  border: .4rem solid #036bb1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.pobocka-reditelka{
  font-size: 2rem;
  margin: 1rem;
  border: .1rem solid #036bb1;
  border-left: 0;
  border-right: 0;
}
.pobocka-adresa{
  font-size: 2rem;
  margin: 1rem;
  border: .1rem solid #036bb1;
  border-left: 0;
  border-right: 0;
}
.pobocka-telefon{
  font-size: 2rem;
  margin: 1rem;
  border: .1rem solid #036bb1;
  border-left: 0;
  border-right: 0;
}
.pobocka-email{
  font-size: 2rem;
  margin: 1rem;
  border: .1rem solid #036bb1;
  border-left: 0;
  border-right: 0;
}
.pobocka-menu{
  font-size: 2rem;
  color: #036bb1;
}
.pobocka-large{
  width: 35rem;
}
/* Konec sekce 4*/
/* Sekce 5*/
.section-5{
  width: 100%;
}
.footer {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0 3rem 0;
}

.footer-top {
  width: 70%;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid #262626;
  padding-bottom: 1rem;
}

.footer-list {
  display: flex;
  align-items: center;
}

.footer-list li {
  margin-right: 2.5rem;
}

.footer-list a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #262626;
}

.footer-list img {
  width: 3.8rem;
  opacity: 0.6;
}

.copyright {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
/* Konec sekce 5*/
/* Login Page */
.login-page {
  width: 100%;
  height: 100vh;
  position: relative;
  display: none;
}

.login-page-content {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid #cfcfcf;
  padding: 3rem;
}

.login-page-logo {
  margin-bottom: 1.2rem;
}

.login-page-logo .p-1 {
  color: #064699;
}

.login-page-logo .p-2 {
  color: #32a4f0;
}

.login-page-logo span:nth-child(3) {
  color: #064699;
}

.login-page-logo span:nth-child(4) {
  color: #32a4f0;
}

.login-page-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page-form input {
  width: 37rem;
  height: 4.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.form-login-input {
  padding: 0 1.5rem;
  border: 0.1rem solid #777;
  font-size: 1.6rem;
}

.form-login-btn {
  background-color: #036bb1;
  color: #fff;
  border: 0.1rem solid #036bb1;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

.form-login-link {
  font-size: 1.6rem;
  color: #229fe7;
  margin: 1.2rem 0 1rem 0;
}

.login-page-form span {
  width: 2rem;
  font-size: 1.8rem;
  color: #888;
  margin: 1rem 0;
  position: relative;
}

.login-page-form span::before {
  content: "";
  width: 16rem;
  height: 0.1rem;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  right: 3.5rem;
  transform: translateY(-50%);
}

.login-page-form span::after {
  content: "";
  width: 16rem;
  height: 0.1rem;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 3.5rem;
  transform: translateY(-50%);
}

.form-signup-btn {
  background-color: #dbe8ec;
  border: 0.1rem solid #dbe8ec;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}
#value {
    font-size: 4rem;
    color: #fff;
}
#value2 {
    font-size: 4rem;
    color: #fff;
}
#value3 {
    font-size: 4rem;
    color: #fff;
}
#value4 {
    font-size: 4rem;
    color: #fff;
}
.counting{
  display: flex;
  flex-direction:row;
  position: none;
  align-items: center;
  font-size: 1.6rem;
  margin-left: 27.5%;
  margin-right: 27.5%;

  color: #fff;
}

#counting-1{
  position: relative; left: 2rem;

}
#counting-1:hover{
  border-bottom: 0.1rem solid #fff;
  transition: 0.4s;

}
#counting-2{
  position: relative; left: 5rem;

}
#counting-2:hover{
  border-bottom: 0.1rem solid #fff;
  transition: 0.4s;

}
#counting-3{
  position: relative; left: 7.5rem;
}
#counting-3:hover{
  border-bottom: 0.1rem solid #fff;
  transition: 0.4s;

}
#counting-4{
  position: relative; left: 10rem; transition: none 0s ease 0s;
}
#counting-4:hover{
  border-bottom: 0.1rem solid #fff;
  transition: 0.4s;

}
.buttons{
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.hr{
  border-top: 0.063rem;
  color: #fff;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
.hr-2{
  margin-top: 5rem;
  border-top: 0.1rem solid #229fe7;
  width: 100%;
}
#hr-section-2{
  width: 125%;
}
.counting-icon{
  color: #229fe7;
}
#map {
  width: 100%;
  height: 40rem;
}
.fa-angle-right{
  margin-left: 1rem;
}
.panel-wrapper {
  position: relative;
}

.btn-rizika {
  left: 30%;
  padding: 1em;
  text-decoration: none;
  width: 40%;
}
.show, .hide {
  position: absolute;
  bottom: -1em;
  z-index: 100;
  text-align: center;
}

.hide {display: none;}
.show:target {display: none;}
.show:target ~ .hide {display: block;}
.show:target ~ .panel {
   max-height: 500rem;
}
.show:target ~ .fade {
  margin-top: 0;
}

.panel {
  position: relative;
  margin: 2em auto;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease;
}
.fade {
  background: linear-gradient(to bottom, rgba(#036bb1,0) 0%,rgba(#fff,1) 75%);
  height: 100px;
  position: relative;
}
.fas{
  color: #229fe7;
}
.fas:hover{
  color: #036bb1;
}

.image-nahled{
  max-height: 27rem;
width: 100%;

}
